.container {
    width: 50vw;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}

.child {
    font-size: 16px;
    border: 1px solid #000;
    position: relative;

    padding: 1em;
    z-index: 2;
    background: rgba(255, 255, 255, 0);
}
.child > .title {
    font-size: 1.5em;
    font-weight: bold;
}

.child > .details {
    display: none;
    transition: display 1s ease;
}

.child.expanded {
    font-size: 20px;
    border: 1px solid #009;
    margin: -1em;
    z-index: 5;
    background: rgba(255, 255, 255, 1);
    position: relative;
}

.child.expanded > .details {
    display: block;
    transition: display 1s ease;
}